* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  font-family: 'Baloo 2';
}

.wrapper {
  width: 90%;
  height: 125%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 2vh;
  margin-top: 13vh;
}

.image {
  height: 32%;
  margin-bottom: 5vh;
}

.image > img{
  height: 100%;
}

.divButtonWrapper {
  margin-bottom: 2.5vh;
}

.linkButtonWrapper {
  text-decoration: none;
  color: #ffffff;
}

.buttonWrapper {
  border: none;
  background: #424242;
  border-radius: 90px;
  width: 75vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

.icon {
  height: 5vh;
  margin-left: 0.5vh;
  margin-right: 1vw;
}

.textButtonWrapper {
  color: #ffffff;
  font-family: 'Baloo 2';
  font-size: 2.7vh;
}

.link {
  color: #53acff;
  font-family: 'baloo 2';
  font-size: 3.5vh;
}
